.deskBox {
	padding: 5px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
}
.deskBox a {
	color: #FFF;
}
.deskBox a:hover {
	text-decoration: none;
}
.colorDeskBoxBlue {
	background: #438eb9;
}
.colorDeskBoxRed {
	background: #c9302c !important;
}
.colorDeskBoxGreen {
	background: #438E1F !important;
}
.colorboxselect {
	border: solid 3px #FFF !important;
}
.iconFood {
	padding: 5px;
	color: #FFF;
	text-align: center;
	margin-bottom: 20px;
	height: 80px;
	overflow: hidden;
	font-size: 14px;
}
@media screen and (min-width: 18.75em) {
	.iconFood {
		height: 90px;
	}
}
.iconFood:hover {
	cursor:pointer;
	box-shadow: 10px 10px 5px #888888;
}
.panel-default {
	border: solid 1px #438eb9;
}
.panel-default>.panel-heading {
	background: #438eb9;
	color: #FFF;
}
.table>tbody>tr>td {
	border-top: solid 1px #438eb9;
	vertical-align: middle;
}
.table>thead>tr>th {
	border-bottom: solid 1px #438eb9;
}
.iconDelete {
	color: red;
	font-size: 22px;
}
.iconDelete:hover {
	cursor:pointer;
}
.iconEdit {
	color: #438eb9;
	font-size: 10px;
}
.iconEdit:hover {
	cursor:pointer;
}
.user-min .user-menu {
	padding-top: 10px !important;
}
.printBill {
	width: 100%;
}
.printBill tr {
	height: 30px;
}
.lineDashed {
	border-bottom: dashed 1px #CCC;
}
.titlePrintBill {
	text-align: center;
}
.totalPrintBill {
	font-weight: bold;
}
.footer {
	clear: both;
}
.inputQuantity {
	width: 30px;
}
.right{
	background-color: white;
}
.sta{
	margin-left: 20px;
}
.text{
	text-align: center;
	margin-bottom: 10px;
}
.btnQuantity {
	background: #438eb9 !important;
	border: none !important;
} 
.page-content {
	padding: 0px;
}
.page-header h1 {
	font-size: 18px;
}
.btnDelete {
	background: #d15b47 !important;
	border: none;
}

#owl-food .item{
    margin: 5px;
}

.customNavigation{
  text-align: center;
}

.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.footerBill {
	font-style: italic;
}
.btnSelectQuantity {
	margin-bottom: 5px;
	padding: 10px;
	font-weight: bold;
	text-align: center;
}
.btnSelect {
	color: #FFF;
	background: #d15b47;
}
.btnUnSelect {

}
.imgFood {
	font-size: 20px;
}
.bootstrap-select {
	padding: 0px;
}
.iconfa {
	font-size: 15px;
}
.pagePrint {
	font-size: 9px;
}
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
	background: none;
}
.table-striped > tbody > tr:hover > td,
.table-striped > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
.imgFood {
	width: 40px;
	height: 40px;
	border: solid 1px #FFF;
}
.txtDisplay{
	color: red !important;
}
.txtSize{
	font-size: 16px !important;
}
.btn-change-table {
	border: none;
	padding: 5px 12px;
}
.icon-move {
	text-align: center;
	color: #438eb9;
	font-size: 20px;
}
.typeadjust {
	height: 34px;
}
.cursor {
	cursor:pointer;
}
.amount {
	float:right;
	font-weight: bold;
}
legend {
	font-size: 14px;
	margin-bottom: 10px;
	border-bottom: dotted 1px #e5e5e5;
	color: #2679b5;
	font-weight: lighter;
}
.table>tbody+tbody {
	border-top: none;
}
.clearrow {
	margin: 0px;
}
.floatright {
	float: right;
	font-weight: bold;
}
.infobill {
	color: #2679b5;
	font-weight: lighter;
	font-size: 15px;
	margin-bottom: 20px;
}
.logo {
	width: 53px;
	height: 23px;
}
.navbar {
	position: fixed;
	z-index: 9999;
	width: 100%;
}
.main-content {
	padding-top: 45px;
}
.sidebar {
	padding-top: 0px;
}
.btnedit {
	display: none;
	position:absolute;
	top:0;
}
.btneditleft {
	position:absolute;
	top:60px;
}
.btneditright {
	position:absolute;
	top:60px;
	right: 36px;
}
.alignright {
	text-align: right;
}

.imgsize{
	height: 200px;
	width: 100%;
}
.main-icon {
	padding-top: 150px;
}
.main-nopadding {
	padding-top: 0px !important;
}
.wraper {
	padding-top: 45px;
}
.img-main p{
	text-align:center;
	font-size:20px;
	font-weight:bold;
}

.btn-clear {
	height: 34px;
  	margin-left: 5px;
  	line-height: 50%;
}

.justadded {
	background: #ff0000;
}