<cfoutput>
<cfscript>
	setLayout('fund');
</cfscript>
<cfif SESSION.shopId NEQ 0>
<div class="col-md-12">
    #view('common/sidebar')#
</div>
<!--- <div class="col-md-12 row">
    #view('dashboard/daily')#
</div> --->
</cfif>
</cfoutput>