<script type="text/javascript">
	jQuery(function() {
       jQuery(function() {
            jQuery('ul.nav-tabs li').each(function() {
                  var href = jQuery(this).find('a').attr('href');
                   if (window.location.pathname.indexOf(href)>-1) {
                  	jQuery(this).parent().parent().addClass('active open');
                  	jQuery(this).parent().addClass('active open');
                    jQuery(this).addClass('active');
                  }
                 
            }); 
    	});
	});  
</script>
<cfoutput>
<ul class="nav nav-tabs" role="tablist">
	<li><a href="/index.cfm/admin:dashboard.daily">#getLabel("Daily")#</a></li>
	<li><a href="/index.cfm/admin:dashboard.weekly">#getLabel("Weekly")#</a></li>
	<li><a href="/index.cfm/admin:dashboard.monthly">#getLabel("Monthly")#</a></li>
</ul>
</cfoutput>
