<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-utf-8" />
		<title>Highcharts Examples</title>
	</head>
	<body>
		<cfinclude template="/#application.sPath#/header.cfm">
		<cfinclude template="/#application.sPath#/menu.cfm">
	</body>
</html>