<!--- <div class="footer">
	<div class="footer-inner">
		<div class="footer-content">
			<span class="bigger-120">
				<span class="blue bolder">Cashier Application &copy; 2014</span>
			</span>
		</div>
	</div>
</div> --->