<cfoutput>
	<cfset SESSION.isLogin  = false>
	<cfset SESSION.isAdmin  = false>
	<cfset SESSION.UserID   = "">
	<cfset SESSION.UserName = "">
	<cfset SESSION.UserType = "">
	<cfset SESSION.ShopId   = "">
<cflocation url="/index.cfm/login:login" addtoken="false"/>
</cfoutput>